trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: mvnbuild
    displayName: maven build
    jobs:
      - job: mavenbuild
        pool:
          vmImage: 'ubuntu-latest'
        steps:

          # This ensures your code is fetched
          - checkout: self

          - task: Maven@4
            inputs:
              mavenPomFile: 'pom.xml'
              publishJUnitResults: true
              testResultsFiles: '**/surefire-reports/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              mavenVersionOption: 'Default'
              mavenAuthenticateFeed: false
              effectivePomSkip: false
              sonarQubeRunAnalysis: false
